!!! Strict
%html
  %head
    %title Is it Burning Man?
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css', 'http://yui.yahooapis.com/2.8.1/build/base/base-min.css', :closed => true
    %style{:type => 'text/css'}
      :sass
        h1
          font-size: 1250%
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1980763-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  %body
    = yield